{% extends "blog/post/base.html" %}

{% block title %}Share a post{% endblock %}
{% block body %}
    {% if sent %}
        <h1 align="center">E-mail successfully sent</h1>
        <h3 align="center">"{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.
        </h2>
    {% else %}
        <h3 align="center">Share "{{ post.title }}" by e-mail</h3><br>
        <div class="container">
        <div class="row">
            <div class="col-lg-6">
                 <form action="." method="post">
                 {% csrf_token %}
                    <div class="form-group">
                      {{ form.as_p }}

            </div>
            <input type="submit" value="Send e-mail" class="btn btn-info">
           </form>
             </div>
            <div class="col-lg-3"></div>

{#            <div class="col-lg-3">#}
{#              <div class="jumbotron" style="width: 500px; height: 500px;">#}
{#                <h2>My Blog</h2>#}
{#               </div>#}

            </div>
           </div>
        </div>
    {% endif %}
{% endblock body %}